# @see http://kleber-swf.blogspot.de/2013/05/the-definitive-gitignore-for-unity3d.html
# =============== #
# Unity generated #
# =============== #
UnityGenerated/
Library/
Temp/
Obj/
out/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.booproj
*/Backup
*/_UpgradeReport_Files
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db