extends layout

block content

    .page-header
        h1  Websockets Chat

    .row
        .col-sm-6.col-md-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Chat
                .panel-body
                    include chatform

    include global-js-includes
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/code.js')