.row.match-parent-width
    .input-group.col-md-6
        #content.well.well-lg.chat
    .input-group.col-md-2
        #user.list-group

.input-group
    span.input-group-addon Name
    input#name.form-control(type="text", required='', placeholder="Anonymous")
br
.input-group
    span.input-group-addon Message
    input#field.form-control(type="text", required='', placeholder="Message")
br
.input-group
    span.input-group-btn
        button#send.btn.btn-primary(name='send') Send