.input-group.match-parent
    #content.well.well-lg.chat
.input-group
    span.input-group-addon Name
    input#name.form-control(type="text", required='', placeholder="Anonymous")
br
.input-group
    span.input-group-addon Message
    input#field.form-control(type="text", required='', placeholder="Message")
br
.input-group
    span.input-group-btn
        button#send.btn.btn-primary(name='send') Send