.input-group
    span.input-group-btn
        button#create-game_type_1vs1.btn.btn-primary.event-button(name='create-game', rel='tooltip', data-original-title="{game-type : GAME_TYPE_1VS1}", data-toggle='tooltip', title='') Create (1vs1)
.input-group
    span.input-group-btn
        button#join-game_type_1vs1.btn.btn-primary.event-button(name='join-game', rel='tooltip', data-original-title="{game-type : GAME_TYPE_1VS1}", data-toggle='tooltip', title='') Join (1vs1)
.input-group
    span.input-group-btn
        button#leave-game.btn.btn-primary.event-button(name='leave-game', rel='tooltip', data-original-title="{}", data-toggle='tooltip', title='') Leave
.input-group
    span.input-group-btn
        button#request-game-data.btn.btn-primary.event-button(name='request-game-data', rel='tooltip', data-original-title="{message: 'game-data'}", data-toggle='tooltip', title='') Request game-data
.input-group
    span.input-group-btn
        button#spawn-ship.btn.btn-primary.event-button(name='spawn-ship', rel='tooltip', data-original-title="{message: 'spawn-ship'}", data-toggle='tooltip', title='') Spawn Ship
.input-group
    span.input-group-btn
        button#join-game_type_2vs2.btn.btn-primary.event-button(name='join-game', rel='tooltip', data-original-title="{game-type : GAME_TYPE_2VS2}", data-toggle='tooltip', title='') Join (2vs2)
.input-group
    span.input-group-btn
        button#join-game_type_custom_1vs1.btn.btn-primary.event-button(name='join-game', rel='tooltip', data-original-title="{game-type : GAME_TYPE_CUSTOM_1VS1}", data-toggle='tooltip', title='') Join Custom 1vs1
.input-group
    span.input-group-btn
        button#join-game_type_custom_2vs2.btn.btn-primary.event-button(name='join-game', rel='tooltip', data-original-title="{game-type : GAME_TYPE_CUSTOM_2VS2}", data-toggle='tooltip', title='') Join Custom 2vs2
.input-group
    span.input-group-btn
        button#pause-game.btn.btn-primary.event-button(name='pause-game') Pause Game
.input-group
    span.input-group-btn
        button#resume-game.btn.btn-primary.event-button(name='resume-game') Resume Game
.input-group
    span.input-group-btn
        button#move-units.btn.btn-primary.event-button(name='move-units') Move Units
.input-group
    span.input-group-btn
        button#level-up.btn.btn-primary.event-button(name='level-up') Level Up
.input-group
    span.input-group-btn
        button#buy.btn.btn-primary.event-button(name='buy') Buy
.input-group
    span.input-group-btn
        button#special-1.btn.btn-primary.event-button(name='special-1') Special 1
.input-group
    span.input-group-btn
        button#special-2.btn.btn-primary.event-button(name='special-2') Special 2
.input-group
    span.input-group-btn
        button#special-3.btn.btn-primary.event-button(name='special-3') Special 3
.input-group
    span.input-group-btn
        button#custom-event.btn.btn-primary.event-button(name='custom-event') Custom Event