script(src='/jquery/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.6.1/bootstrap-lightbox.js')
script(src='/underscore/underscore-min.js')
script(src='/threejs/build/three.min.js')
script(src='http://code.highcharts.com/highcharts.js')
script(src='http://code.highcharts.com/modules/exporting.js')