.input-group
    span.input-group-btn
        button#kick-all-player.btn.btn-primary.event-button(name='kick-all-player') Kick All Player
.input-group
    span.input-group-btn
        button#game-data.btn.btn-primary.event-button(name='game-data') Send Game Data
.input-group
    span.input-group-btn
        button#start-game.btn.btn-primary.event-button(name='start-game') Start Game
.input-group
    span.input-group-btn
        button#end-game.btn.btn-primary.event-button(name='end-game') End Game
.input-group
    span.input-group-btn
        button#pause-game.btn.btn-primary.event-button(name='pause-game') Notification
.input-group
    span.input-group-btn
        button#resume-game.btn.btn-primary.event-button(name='resume-game') Toogle Item
.input-group
    span.input-group-btn
        button#resume-game.btn.btn-primary.event-button(name='resume-game') Toogle Special
.input-group
    span.input-group-btn
        button#custom-event.btn.btn-primary.event-button(name='custom-event') Custom Event