body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.match-parent-width {
    width: 100%;
}

.match-parent-height {
    height: 100%;
}

.chat {
    height: 16.5em;
    overflow-y: scroll;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.left {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    padding-top: 2em;
    padding-bottom: 2em;
}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}
  /*
.list-group-item {
    min-width : 150px;
}

.input-group-addon {
    min-width:100px;
    text-align:left;
}   */

.event-button {
    min-width:150px;
}

.control-element {
    height: 30em;
    overflow-y: auto;
    overflow-x: hidden !important;
}